<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="fr">
    <title>Page générique</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/forms/ui.spinner.js}" src="js/plugins/forms/ui.spinner.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.mousewheel.js}" src="js/plugins/forms/jquery.mousewheel.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/charts/excanvas.min.js}" src="js/plugins/charts/excanvas.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/charts/jquery.flot.js}" src="js/plugins/charts/jquery.flot.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/charts/jquery.flot.orderBars.js}" src="js/plugins/charts/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/charts/jquery.flot.pie.js}" src="js/plugins/charts/jquery.flot.pie.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/charts/jquery.flot.resize.js}" src="js/plugins/charts/jquery.flot.resize.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/charts/jquery.sparkline.min.js}" src="js/plugins/charts/jquery.sparkline.min.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/tables/jquery.dataTables.js}" src="js/plugins/tables/jquery.dataTables.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/tables/jquery.sortable.js}" src="js/plugins/tables/jquery.sortable.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/tables/jquery.resizable.js}" src="js/plugins/tables/jquery.resizable.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/forms/autogrowtextarea.js}" src="js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.uniform.js}" src="js/plugins/forms/jquery.uniform.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.inputlimiter.min.js}" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.tagsinput.min.js}" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.maskedinput.min.js}" src="js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.autotab.js}" src="js/plugins/forms/jquery.autotab.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.chosen.min.js}" src="js/plugins/forms/jquery.chosen.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.dualListBox.js}" src="js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.cleditor.js}" src="js/plugins/forms/jquery.cleditor.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.ibutton.js}" src="js/plugins/forms/jquery.ibutton.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.validationEngine-en.js}" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/jquery.validationEngine.js}" src="js/plugins/forms/jquery.validationEngine.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/uploader/plupload.js}" src="js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/uploader/plupload.html4.js}" src="js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/uploader/plupload.html5.js}" src="js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/uploader/jquery.plupload.queue.js}" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/wizards/jquery.form.wizard.js}" src="js/plugins/wizards/jquery.form.wizard.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/wizards/jquery.validate.js}" src="js/plugins/wizards/jquery.validate.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/wizards/jquery.form.js}" src="js/plugins/wizards/jquery.form.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.collapsible.min.js}" src="js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.breadcrumbs.js}" src="js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.tipsy.js}" src="js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.progress.js}" src="js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.timeentry.min.js}" src="js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.colorpicker.js}" src="js/plugins/ui/jquery.colorpicker.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.jgrowl.js}" src="js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.fancybox.js}" src="js/plugins/ui/jquery.fancybox.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.fileTree.js}" src="js/plugins/ui/jquery.fileTree.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.sourcerer.js}" src="js/plugins/ui/jquery.sourcerer.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/others/jquery.fullcalendar.js}" src="js/plugins/others/jquery.fullcalendar.js"></script>
    <script type="text/javascript" th:src="@{/js/plugins/others/jquery.elfinder.js}" src="js/plugins/others/jquery.elfinder.js"></script>

    <script type="text/javascript" th:src="@{/js/plugins/ui/jquery.easytabs.min.js}" src="js/plugins/ui/jquery.easytabs.min.js"></script>
    <script type="text/javascript" th:src="@{/js/files/bootstrap.js}" src="js/files/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/files/functions.js}" src="js/files/functions.js"></script>

    <script type="text/javascript" th:src="@{/js/charts/chart.js}" src="js/charts/chart.js"></script>
    <script type="text/javascript" th:src="@{/js/charts/hBar_side.js}" src="js/charts/hBar_side.js"></script>

</head>
<body>
<header>
    <div layout:fragment="custom-header" th:include="fragments/commun :: header" id="top"></div>
</header>
<section layout:fragment="content">
    <p>Contenu de la page ici</p>
</section>
<footer>
    <div layout:fragment="custom-footer" th:include="fragments/commun :: footer"></div>
</footer>
</body>
</html>