<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="header">
        <div class="wrapper">
            <a th:href="@{/index.html}" class="logo">Bla</a>

            <!-- Right top nav -->
            <div class="topNav">
                <a title="" class="iButton"></a>
                <div class="topSearch">
                    <div class="topDropArrow"></div>
                    <form action="">
                        <input type="text" placeholder="search..." name="topSearch" />
                        <input type="submit" value="" />
                    </form>
                </div>

                <div class="user userNav">
                    <a title="" class="leftUserDrop"><img th:src="@{/images/user.png}" src="images/user.png" alt="" /><span></span></a>
                    <ul class="leftUser topSearch">

                        <div class="topDropArrow"></div>
                        <li><span href="#" title="" class="sProfile" sec:authentication="name">Bob</span></li>
                        <li><span href="#" title="" class="sSettings" sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></li>
                        <li><a href="index.html" th:href="@{/j_spring_security_logout}" title="" class="sLogout">Logout</a></li>
                    </ul>
                </div>
            </div>

            <!-- Responsive nav -->
            <ul class="altMenu">
                <li><a href="index.html" title="">Dashboard</a></li>
                <li><a href="ui.html" title="" class="exp" id="current">UI elements</a>
                    <ul>
                        <li><a href="ui.html">General elements</a></li>
                        <li><a href="ui_icons.html">Icons</a></li>
                        <li><a href="ui_buttons.html">Button sets</a></li>
                        <li><a href="ui_grid.html" class="active">Grid</a></li>
                        <li><a href="ui_custom.html">Custom elements</a></li>
                        <li><a href="ui_experimental.html">Experimental</a></li>
                    </ul>
                </li>
                <li><a href="forms.html" title="" class="exp">Forms stuff</a>
                    <ul>
                        <li><a href="forms.html">Inputs &amp; elements</a></li>
                        <li><a href="form_validation.html">Validation</a></li>
                        <li><a href="form_editor.html">File uploads &amp; editor</a></li>
                        <li><a href="form_wizards.html">Form wizards</a></li>
                    </ul>
                </li>
                <li><a href="messages.html" title="">Messages</a></li>
                <li><a href="statistics.html" title="">Statistics</a></li>
                <li><a href="tables.html" title="" class="exp">Tables</a>
                    <ul>
                        <li><a href="tables.html">Standard tables</a></li>
                        <li><a href="tables_dynamic.html">Dynamic tables</a></li>
                        <li><a href="tables_control.html">Tables with control</a></li>
                        <li><a href="tables_sortable.html">Sortable &amp; resizable</a></li>
                    </ul>
                </li>
                <li><a href="other_calendar.html" title="" class="exp">Other pages</a>
                    <ul>
                        <li><a href="other_calendar.html">Calendar</a></li>
                        <li><a href="other_gallery.html">Images gallery</a></li>
                        <li><a href="other_file_manager.html">File manager</a></li>
                        <li><a href="other_404.html">Sample error page</a></li>
                        <li><a href="other_typography.html">Typography</a></li>
                    </ul>
                </li>
            </ul>

            <a th:if="${cart != null}" th:href="@{/cart/cart.html}" href="#"
               style="float: right; margin-top: 15px; margin-right: 10px;"
               class="add-cart tablectrl_small bDefault tipS"><span class="icos-cart"></span>(<span id="cart"
                                                                                                    th:text="${#lists.size(cart.articles)}"></span>)</a>

            <div class="clear"></div>
        </div>
</div>

<div th:fragment="footer">


</div>
</body>
</html>