body {
    font-family: sans;
    font-size: 1em;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}