<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Bookstore - compte</title>
</head>
<body>
<section layout:fragment="content">

    <div id="content" style="margin-left: 0;">
        <div class="contentTop">
            <span class="pageTitle"><span class="icon-screen"></span>Compte</span>

            <div class="clear"></div>
        </div>

    </div>
    <form th:object="${userModel}" th:action="@{${'/profil/' + user.login}}" method="POST" action="" class="main">
        <p th:utext="${#strings.replace(errors, '|', '&lt;br /&gt;')}"></p>
        <fieldset>
            <div class="widget fluid">
                <div class="whead"><h6>Input fields</h6>

                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>login:</label></div>
                    <div class="grid9" th:text="${user.login}"></div>
                    <input type="hidden" name="regular" th:field="*{login}" th:value="*{login}"/>

                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>Password (mandatory):</label></div>
                    <div class="grid9"><input type="password" name="regular" th:field="*{password}"
                                              th:value="${user.password}"/></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>New password:</label></div>
                    <div class="grid9"><input type="password" name="regular" th:field="*{newPassword}"/></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>Confirmation:</label></div>
                    <div class="grid9"><input type="password" name="regular" th:field="*{confirmation}"
                                              th:value="*{confirmation}"/></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>Email:</label></div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{email}" th:value="${user.email}"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>Mailing Address:</label></div>
                    <input type="hidden" name="regular" th:field="*{addressId}" th:value="*{addressId}"/>

                    <div class="grid9"><input type="text" name="regular" th:field="*{line1}" th:value="*{line1}"/></div>
                    <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{line2}" th:value="*{line2}"/></div>
                    <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{line3}" th:value="*{line2}"/></div>
                    <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{zip}" th:value="*{line2}"/></div>
                    <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{city}" th:value="*{line2}"/></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
        <input type="submit" class="buttonS bGreen"/>
    </form>

    <div class="widget">
        <div class="whead"><h6>Commandes</h6>

            <div class="clear"></div>
        </div>

        <div class="hiddenpars">
            <a class="tOptions" title="Options"><img th:src="@{/images/icons/options}" src="images/icons/options"
                                                     alt=""/></a>
            <table cellpadding="0" cellspacing="0" border="0" class="dTable">
                <thead>
                <tr>
                    <th>id<span class="sorting" style="display: block;"></span></th>
                    <th>date</th>
                    <th>adresse</th>
                    <th>articles</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${user.orders}">
                    <td class="center" th:text="${order.id}">valeur login</td>
                    <td class="center" th:text="${#calendars.format(order.orderDate,'dd MMMM yyyy')}">valeur password
                    </td>
                    <td class="center">
                        <span th:text="${order.mailingAddress.line1}"></span><br/>
                        <span th:text="${order.mailingAddress.line2}"></span><br/>
                        <span th:text="${order.mailingAddress.line3}"></span><br/>
                        <span th:text="${order.mailingAddress.zip}"></span> - <span
                            th:text="${order.mailingAddress.city}"></span>
                    </td>
                    <td class="center"><span th:each="orderLine : ${order.orderLines}"><div>
                        <span th:text="${orderLine.quantity}"></span> *
                        <span th:text="${orderLine.book.title}"></span> -
                        <span th:text="${orderLine.book.unitPrice * orderLine.quantity}"></span> &euro;</div></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>