<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Bookstore - livres</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var myUrl = /*[[@{/}]]*/ "http://" + location.host;
		
        $(document).on("click", ".detail", function() {
            var destinationUrl = $(this).attr("dest");
            console.log(destinationUrl);
            var detail = window.open(destinationUrl, 'bookstore_detail', 'height=480,width=360', false);
            detail.onunload = updateCartQuantity;
        });

        $(document).on("click", ".add-cart", function() {
            var isbnid = $(this).attr('isbnid');
            $.get(myUrl + 'books/addtocart/' + isbnid + "/1", function (data) {
                $('#cart').html(data);
            });
        });

        function updateCartQuantity() {
            $.get(myUrl + 'cart/count.html', function (data) {
                $('#cart').html(data);
            });
        }

        /*]]>*/
    </script>
</head>
<body>
<section layout:fragment="content">
    &nbsp;

    <form th:object="${bookSearchModel}" th:action="@{${'/books/search.html'}}" method="Get" action="" class="main">
        <fieldset>
            <div class="widget fluid">
                <div class="whead"><h6>Recherche</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3"><label>Title:</label></div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{title}" th:value="*{title}"/></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow" style="height: 30px;">
                    <div class="grid3"><label>Author:</label></div>
                    <div class="grid9">
                        <select name="regular" th:field="*{authorId}">
                            <option value="0">Author</option>
                            <option th:each="author : ${authors}" th:value="${author.id}"
                                    th:text="${author.firstName + ' ' + author.lastName}"></option>
                        </select>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>isbn13:</label></div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{bookId}" th:value="*{bookId}"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>Editor:</label></div>
                    <div class="grid9"><input type="text" name="regular" th:field="*{editor}" th:value="*{editor}"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>Maximum price:</label></div>
                    <div class="grid9"><input type="number" min="0" name="regular" th:field="*{maxPrice}"
                                              th:value="*{maxPrice}"/></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
        <input type="submit" class="buttonS bGreen"/>
    </form>


    <div class="widget">
        <div class="whead"><h6>Livres</h6><div class="clear"></div></div>

        <div class="hiddenpars">
            <a class="tOptions" title="Options"><img th:src="@{/images/icons/options}" src="images/icons/options" alt="" /></a>
            <table cellpadding="0" cellspacing="0" border="0" class="dTable">
                <thead>
                <tr>
                    <th>isbn13<span class="sorting" style="display: block;"></span></th>
                    <th>title</th>
                    <th>unitPrice</th>
                    <th>editor</th>
                    <th>author</th>
                    <th th:text="#{books.addtocart}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td class="center" th:text="${book.isbn13}">valeur login</td>
                    <td class="center" th:text="${book.title}">valeur password</td>
                    <td class="center" th:text="${book.unitPrice}">valeur surname</td>
                    <td class="center" th:text="${book.editor}">valeur surname</td>
                    <td class="center"><span th:text="${book.author.firstName + ' ' + book.author.lastName}"></span></td>
                    <td class="tableActs">
                        <a style="cursor: pointer;" class="detail tablectrl_small bDefault tipS" th:attr="dest=@{${'/books/detail/' + book.isbn13}}"><span class="icos-info"></span></a>&nbsp;
                        <a href="#" th:attr="isbnid=${book.isbn13}" class="add-cart tablectrl_small bDefault tipS"><span class="icos-cart"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>