<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bookstore - d&eacute;tail livre</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/

    $(document).on("click", ".addpanier", function() {
        var destinationUrl = $(this).attr("dest");
        console.log("appel de " + destinationUrl);

        $.get(destinationUrl)
        .done(function() {
            window.close();
        })
        .fail(function() {
            alert("Une erreur est survenue lors de l'ajout au panier.")
        });

    });

    /*]]>*/
    </script>
</head>
<body>
<section>
    <p>
        <label>isbn13 : </label><span th:text="${book.isbn13}">isbn13</span><br/>
        <label>title : </label><span th:text="${book.title}">title</span><br/>
        <label>editor : </label><span th:text="${book.editor}">editor</span><br/>
        <label>unitPrice : </label><span th:text="${book.unitPrice}">unitPrice</span><br/>
        <label>author : </label><span th:text="${book.author.firstName + ' ' + book.author.lastName}">author</span><br/>
        <a href="#" class="addpanier" th:text="#{books.addtocart}" th:attr="dest=@{${'/books/addtocart/' + book.isbn13 + '/1'}}">Ajouter au panier</a>
    </p>

</section>
</body>
</html>