<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Bookstore - panier</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var myUrl = /*[[@{/}]]*/ "http://" + location.host;
        $(document).on("click", ".update-cart", function() {
            var bookid = $(this).attr('bookid');
            var quantity = $(this).parent().find(".qtyval").val();
            var destUrl = myUrl + '/cart/update/' + bookid + "/" + quantity;
            console.log("destUrl = ", destUrl);
            $.get(destUrl, function (data) {
                if (data == 'refresh') {
                    location.reload();
                }
            });
        });


        /*]]>*/
    </script>
</head>
<body>
<section layout:fragment="content">
    &nbsp;
    <div class="widget">
        <div class="whead"><h6>Panier</h6><div class="clear"></div></div>

        <div class="hiddenpars">
            <a class="tOptions" title="Options"><img th:src="@{/images/icons/options}" src="images/icons/options" alt="" /></a>
            <table cellpadding="0" cellspacing="0" border="0" class="dTable">
                <thead>
                <tr>
                    <th>Quantit&eacute;<span class="sorting" style="display: block;"></span></th>
                    <th>Nom du livre</th>
                    <th>Suppression</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${cart.articles}">
                    <td class="center">
                        <input class="qtyval" type="number" min="0" th:value="${article.quantity}"/>
                        <a href="#" th:attr="bookid=${article.book.isbn13}" class="update-cart tablectrl_small bDefault tipS"><span class="icos-refresh"></span></a>
                    </td>
                    <td class="center" th:text="${article.book.title}">valeur password</td>
                    <td class="center">
                        <a href="#" th:href="@{${'/cart/delete/' + article.book.isbn13}}" th:attr="bookid=${article.book.isbn13}"  class="delete-cart tablectrl_small bDefault tipS"><span class="icos-trash" ></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a th:if="${not #lists.isEmpty(cart.articles)}" th:href="@{/order/recap.html}"
       class="buttonS bGreen">Recapitulatif</a>

</section>
</body>
</html>