<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Erreur</title>
</head>
<body>
<section layout:fragment="content">
    <br />
    <br />
    <br />

    <h1 th:text="${errorCode}">404</h1>

    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a style="cursor:pointer;" onclick="history.go(-1);">Page précédente</a> &nbsp;
    <a href="index.html" th:href="@{/}">Accueil</a>
</section>
</body>
</html>
