<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Accueil</title>
</head>
<body>
<section layout:fragment="content">

    <div id="content" style="margin-left: 0;">
        <div class="contentTop">
            <span class="pageTitle"><span class="icon-screen"></span>Accueil</span>
            <div class="clear"></div>
        </div>


    </div>
    <p th:text="#{home.welcome}">Wesh tu verras jamais ce message</p>

    <div class="widget">
        <div class="whead"><h6>Informations</h6><div class="clear"></div></div>

        <div id="dyn" class="hiddenpars">
            <a class="tOptions" title="Options"><img src="images/icons/options" alt="" /></a>
            <table cellpadding="0" cellspacing="0" border="0" class="dTable" id="dynamic">
                <thead>
                <tr>
                    <th>Login<span class="sorting" style="display: block;"></span></th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Profil</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td class="center" th:text="${user.login}"></td>
                    <td class="center" th:text="${user.password}"></td>
                    <td class="center" th:text="${user.email}"></td>
                    <td class="center"><a href="/" th:href="@{'/profil/' + ${user.login}}">GO</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a th:href="@{/books/catalog.html}" class="buttonS bGreen">Acheter livre</a>

</section>
</body>
</html>