<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Bookstore - livres</title>
</head>
<body>
<section layout:fragment="content">
    <br />
    <br />
    <br />

    <h3 th:text="#{order.success}">SUCCESS</h3>

</section>
</body>
</html>