<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">
<head>
    <title>Bookstore - recap commande</title>
</head>
<body>
<section layout:fragment="content">
    <br />
    <br />
    <br />
    &nbsp;
    Seront envoy&eacute;s &agrave; cette adresse :
    <p>
        <span th:text="${userAddress.line1}">line1</span> <br/>
        <span th:text="${userAddress.line2}">line2</span> <br/>
        <span th:text="${userAddress.line3}">line3</span> <br/>
        <span th:text="${userAddress.zip}">zip</span> - <span th:text="${userAddress.city}">city</span> <br/>
    </p>
    <br/>

    <div class="widget">
        <div class="whead"><h6>Les articles</h6><div class="clear"></div></div>

        <div class="hiddenpars">
            <a class="tOptions" title="Options"><img th:src="@{/images/icons/options}" src="images/icons/options" alt="" /></a>
            <table cellpadding="0" cellspacing="0" border="0" class="dTable">
                <thead>
                <tr>
                    <th>quantite<span class="sorting" style="display: block;"></span></th>
                    <th>book</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${cart.articles}">
                    <td class="center" th:text="${article.quantity}">valeur login</td>
                    <td class="center" th:text="${article.book.title}">valeur password</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <form action="/order/doorder.html" th:action="@{/order/doorder.html}" method="POST">
        <!-- mets les infos que tu veux... -->
        <input type="submit" class="buttonS bGreen" th:value="#{order.doorder}" value="Commander" />
    </form>

</section>
</body>
</html>