<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>Login page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <!--[if IE]> <link href="css/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

        <script type="text/javascript" src="js/plugins/forms/ui.spinner.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.mousewheel.js"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

        <script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
        <script type="text/javascript" src="js/plugins/charts/jquery.flot.js"></script>
        <script type="text/javascript" src="js/plugins/charts/jquery.flot.orderBars.js"></script>
        <script type="text/javascript" src="js/plugins/charts/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="js/plugins/charts/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="js/plugins/charts/jquery.sparkline.min.js"></script>

        <script type="text/javascript" src="js/plugins/tables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="js/plugins/tables/jquery.sortable.js"></script>
        <script type="text/javascript" src="js/plugins/tables/jquery.resizable.js"></script>

        <script type="text/javascript" src="js/plugins/forms/autogrowtextarea.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.uniform.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.autotab.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.chosen.min.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.dualListBox.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.cleditor.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.ibutton.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
        <script type="text/javascript" src="js/plugins/forms/jquery.validationEngine.js"></script>

        <script type="text/javascript" src="js/plugins/uploader/plupload.js"></script>
        <script type="text/javascript" src="js/plugins/uploader/plupload.html4.js"></script>
        <script type="text/javascript" src="js/plugins/uploader/plupload.html5.js"></script>
        <script type="text/javascript" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

        <script type="text/javascript" src="js/plugins/wizards/jquery.form.wizard.js"></script>
        <script type="text/javascript" src="js/plugins/wizards/jquery.validate.js"></script>
        <script type="text/javascript" src="js/plugins/wizards/jquery.form.js"></script>

        <script type="text/javascript" src="js/plugins/ui/jquery.collapsible.min.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.breadcrumbs.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.tipsy.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.progress.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.timeentry.min.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.colorpicker.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.jgrowl.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.fancybox.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.fileTree.js"></script>
        <script type="text/javascript" src="js/plugins/ui/jquery.sourcerer.js"></script>

        <script type="text/javascript" src="js/plugins/others/jquery.fullcalendar.js"></script>
        <script type="text/javascript" src="js/plugins/others/jquery.elfinder.js"></script>

        <script type="text/javascript" src="js/plugins/ui/jquery.easytabs.min.js"></script>
        <script type="text/javascript" src="js/files/bootstrap.js"></script>
        <script type="text/javascript" src="js/files/login.js"></script>
        <script type="text/javascript" src="js/files/functions.js"></script>
	</head>
    <body>

    <!-- Login wrapper begins -->
    <div style="margin: auto; width: 960px">


        <p th:utext="${#strings.replace(errors, '|', '&lt;br /&gt;')}"></p>
        <!-- Current user form -->
        <form th:object="${userModel}" th:action="@{'/register.html'}" method="POST" action="" class="main">
            <fieldset>
                <div class="widget fluid" style="width:960px;">
                    <div class="whead"><h6>Inscription</h6><div class="clear"></div></div>
                    <div class="formRow">
                        <div class="grid3"><label>login:</label></div>
                        <div class="grid9"><input type="text" name="regular" th:field="*{login}" th:value="*{login}"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Password:</label></div>
                        <div class="grid9"><input type="password" name="regular" th:field="*{password}" th:value="*{password}"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Confirmation:</label></div>
                        <div class="grid9"><input type="password" name="regular" th:field="*{passwordConfirmation}" th:value="*{passwordConfirmation}"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Email:</label></div>
                        <div class="grid9"><input type="email" name="regular" th:field="*{email}" th:value="*{email}"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Confirmation:</label></div>
                        <div class="grid9"><input type="email" name="regular" th:field="*{emailConfirmation}" th:value="*{emailConfirmation}"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Mailing Address:</label></div>
                        <div class="grid9"><input type="text" name="regular" th:field="*{line1}" th:value="*{line1}"/></div>
                        <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                        <div class="grid9"><input type="text" name="regular" th:field="*{line2}" th:value="*{line2}"/></div>
                        <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                        <div class="grid9"><input type="text" name="regular" th:field="*{line3}" th:value="*{line2}"/></div>
                        <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                        <div class="grid9"><input type="text" name="regular" th:field="*{zip}" th:value="*{line2}"/></div>
                        <div class="grid3" style="margin-left: 0;">&nbsp;</div>
                        <div class="grid9"><input type="text" name="regular" th:field="*{city}" th:value="*{line2}"/></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="buttonS bGreen"/>
        </form>
    </div>
    <!-- Login wrapper ends -->

    </body>
</html>
